.button {
    position: relative;
    top: 5px;
    margin: 5px;
    padding: 4px;

}

button {
    margin: 3px;
}
.main{
    background-image: url("/assets/img/userloginsuccess2.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}