.main{
    background-image:url("/assets/img/adminloginsuccess.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navbar1 {
    position: relative;
    top: 10px;
    margin: 5px;
    padding: 4px;
}

div.navbar1 button {
    margin-left: 3px;
}