<div class="main">
    <nav class="button">
        <button mat-raised-button>THE SILVER SEVEN</button>
        <button mat-raised-button color="warn" (click)="journey('admin')">Admin</button>
        <button mat-raised-button color="accent" (click)="journey('owner')">Owner</button>
        <button mat-raised-button color="primary" (click)="journey('user')">User</button>
    </nav>
    <marquee behavior="alternate" direction="right"><b><h1>Book Your's Hotel...Stay With Family-friends</h1></b></marquee>
</div>

