button{
    margin: 10px;
    font-size: larger;
}
.main{
    background-image:url("../../assets/img/homePage.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
